#Moloco Data Scientist

Q1

In [0]:
import sys
import os
import pandas as pd
import numpy as np

In [0]:
file_data = pd.read_csv('https://docs.google.com/spreadsheets/d/1AV-A1uhQqvF6h0_a-fupFQIHv6W7-vNm88AYh_WzeB0/export?format=csv&gid=1326833441')

In [58]:
file_data.head()

                    ts user_id country_id site_id
0  2019-02-01 00:01:24  LC36FC        TL6   N0OTG
1  2019-02-01 00:10:19  LC39B6        TL6   N0OTG
2  2019-02-01 00:21:50  LC3500        TL6   N0OTG
3  2019-02-01 00:22:50  LC374F        TL6   N0OTG
4  2019-02-01 00:23:44  LCC1C3        TL6   QGO3G

In [0]:
file_data_BDV = file_data[file_data['country_id']=='BDV']
assert len(file_data_BDV)==844

In [60]:
file_data_BDV['site_id'].value_counts()

5NPAU    717
N0OTG    122
3POLC      5
Name: site_id, dtype: int64

Q2

In [61]:
file2 = file_data[(file_data['ts']>'2019-02-03 00:00:00') & (file_data['ts']<'2019-02-04 23:59:59')]
file2.head()

                       ts user_id country_id site_id
1049  2019-02-03 00:02:31  LC3C7E        TL6   3POLC
1050  2019-02-03 00:03:09  LC3C7E        TL6   3POLC
1051  2019-02-03 00:03:46  LC3C7E        TL6   3POLC
1052  2019-02-03 00:04:12  LC3C7E        TL6   3POLC
1053  2019-02-03 00:04:25  LC3C7E        TL6   3POLC

In [62]:
file2.drop(columns = ['ts','country_id'],inplace=True)
file3 = file2.groupby(["user_id", "site_id"]).size().reset_index(name='count')
file3[file3['count']>10]

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

    user_id site_id  count
3    LC06C3   N0OTG     25
417  LC3A59   N0OTG     26
485  LC3C7E   3POLC     15
493  LC3C9D   N0OTG     17

Q3

In [0]:
file_q3 = file_data.groupby(['user_id'],as_index=False).last()

In [89]:
file_q3['site_id'].value_counts()

5NPAU    992
N0OTG    561
QGO3G    289
GVOFK     42
3POLC     28
RT9Z6      2
JSUUP      1
EUZ/Q      1
Name: site_id, dtype: int64

In [0]:
file_q3 = file_q3[['user_id','site_id']]

Q4

In [0]:
file_q4 = file_data.groupby(['user_id'],as_index=False).first()
assert len(file_q4)==len(file_q3)

In [0]:
file_q4 = file_q4[['user_id','site_id']]

In [0]:
res = pd.merge(file_q3,file_q4,on='user_id')

In [0]:
res1 = res[res['site_id_x']==res['site_id_y']]

In [99]:
len(res1)

1670